In [1]:
#pyber
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [174]:
city_data_df = pd.read_csv("raw_data/city_data.csv")
ride_data_df = pd.read_csv("raw_data/ride_data.csv")
combined_data_df = pd.merge(city_data_df, ride_data_df, on="city")
rider_groupedby_df = combined_data_df.sort_values(['city'],ascending=True).groupby('city')
rider_groupedby_df = rider_groupedby_df['city','date','fare','ride_id','driver_count','type']
rider_groupedby_df.head()

,city,date,fare,ride_id,driver_count,type
1594,Alvarezhaven,2016-04-18 20:51:29,31.93,4267015736324,21,Urban
1595,Alvarezhaven,2016-08-01 00:39:48,6.42,8394540350728,21,Urban
1624,Alvarezhaven,2016-07-04 04:28:22,33.31,306054352684,21,Urban
1623,Alvarezhaven,2016-01-27 10:38:40,6.72,6152998520191,21,Urban
1622,Alvarezhaven,2016-05-16 15:33:14,6.45,8939751998750,21,Urban
474,Alyssaberg,2016-08-05 08:42:20,13.16,5656075250168,67,Urban
475,Alyssaberg,2016-10-06 19:07:23,21.13,1130515431712,67,Urban
476,Alyssaberg,2016-05-08 02:43:48,28.34,7242043350787,67,Urban
478,Alyssaberg,2016-07-19 21:09:19,27.76,8760597286776,67,Urban
479,Alyssaberg,2016-08-29 10:28:14,13.72,139944531612,67,Urban
2105,Anitamouth,2016-07-04 03:08:18,36.12,2375666393963,16,Suburban
2104,Anitamouth,2016-03-03 13:56:02,40.85,3932716370818,16,Suburban
2103,Anitamouth,2016-09-21 12:36:00,46.36,2181536008161,16,Suburban
2102,Anitamouth,2016-01-29 20:03:47,41.74,4547643471379,16,Suburban
2101,Anitamouth,2016-06-01 22:47:11,27.44,1552303233665,16,Suburban
1322,Antoniomouth,2016-05-28 05:23:33,18.56,4800891394907,21,Urban
1314,Antoniomouth,2016-10-22 01:49:54,6.05,1700566631906,21,Urban
1313,Antoniomouth,2016-05-02 17:52:36,8.43,4177920769860,21,Urban
1312,Antoniomouth,2016-08-19 14:45:25,20.67,5230053373966,21,Urban
1311,Antoniomouth,2016-08-27 06:53:18,33.31,6663823307127,21,Urban
1082,Aprilchester,2016-08-17 21:24:26,14.39,4490937531153,49,Urban
1081,Aprilchester,2016-05-16 02:36:06,18.11,5417062924680,49,Urban
1080,Aprilchester,2016-06-29 11:22:21,9.10,6466731062634,49,Urban
1079,Aprilchester,2016-10-24 20:16:27,32.42,5573547666893,49,Urban
1077,Aprilchester,2016-04-04 13:08:06,24.26,1488504143994,49,Urban
636,Arnoldview,2016-09-04 07:46:44,41.38,6513640148499,41,Urban
637,Arnoldview,2016-06-05 11:38:16,16.70,4445586772952,41,Urban
638,Arnoldview,2016-03-31 17:49:51,41.28,3240285568339,41,Urban
639,Arnoldview,2016-03-25 06:12:18,13.48,1941778752229,41,Urban
640,Arnoldview,2016-09-06 18:04:35,5.44,8147021338537,41,Urban
...,...,...,...,...,...,...
2177,West Tony,2016-04-10 11:36:23,36.47,7938082066689,17,Suburban
2170,West Tony,2016-08-27 08:35:50,27.11,6369211091172,17,Suburban
2171,West Tony,2016-01-28 21:44:57,39.15,1038754510925,17,Suburban
2172,West Tony,2016-04-30 22:02:46,19.88,606026211071,17,Suburban
2173,West Tony,2016-05-25 06:30:46,16.12,7605115191082,17,Suburban
1635,Williamchester,2016-08-28 17:40:49,30.72,8203822920323,26,Suburban
1636,Williamchester,2016-09-10 19:11:19,41.04,4383983578923,26,Suburban
1637,Williamchester,2016-05-06 02:59:25,31.91,5362699747075,26,Suburban
1638,Williamchester,2016-05-10 16:35:23,36.07,4922838323136,26,Suburban
1639,Williamchester,2016-05-22 04:15:15,25.91,4677896988123,26,Suburban
660,Williamshire,2016-04-26 16:22:57,20.70,7183880039452,70,Urban
655,Williamshire,2016-10-12 20:05:38,43.59,5754483138563,70,Urban
662,Williamshire,2016-02-03 05:41:35,35.47,3643460209704,70,Urban
656,Williamshire,2016-04-21 20:53:46,12.62,8433632132412,70,Urban
657,Williamshire,2016-02-14 09:59:14,12.44,5622262765746,70,Urban
831,Wiseborough,2016-01-21 17:35:29,44.18,3645042422587,55,Urban
836,Wiseborough,2016-02-23 02:21:54,4.06,5772409201337,55,Urban
832,Wiseborough,2016-09-12 18:43:41,26.83,9304728540000,55,Urban
837,Wiseborough,2016-07-01 03:59:01,8.28,1126926512034,55,Urban
834,Wiseborough,2016-09-12 00:38:50,20.62,8634932507263,55,Urban
521,Yolandafurt,2016-07-30 10:52:51,17.10,9314685389826,7,Urban
522,Yolandafurt,2016-02-25 06:52:45,26.78,7824370473607,7,Urban
523,Yolandafurt,2016-09-08 11:16:27,12.06,6618019082951,7,Urban
518,Yolandafurt,2016-10-15 09:08:27,32.99,7248809199355,7,Urban
517,Yolandafurt,2016-11-20 11:01:23,24.95,3736563482430,7,Urban
1432,Zimmermanmouth,2016-06-29 21:29:33,17.12,1214603530980,45,Urban
1434,Zimmermanmouth,2016-08-01 20:38:52,34.95,2258161061820,45,Urban
1455,Zimmermanmouth,2016-10-21 04:10:04,24.69,9508846094814,45,Urban
1454,Zimmermanmouth,2016-08-21 05:53:52,40.95,5672693632216,45,Urban
1453,Zimmermanmouth,2016-11-12 22:15:06,5.27,885932877834,45,Urban