In [1]:
#pyber
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [80]:
city_data_df = pd.read_csv("raw_data/city_data.csv")
ride_data_df = pd.read_csv("raw_data/ride_data.csv")
combined_data_df = pd.merge(city_data_df, ride_data_df, on="city")
rider_groupedby_df = combined_data_df.sort_values(['city','type'],ascending=True).groupby('city')
rider_groupedby_df = rider_groupedby_df['city','date','fare','ride_id','driver_count','type']
rider_groupedby_df.head()
# df.sort_values(['job','count'],ascending=False).groupby('job').head(3)

,city,date,fare,ride_id,driver_count,type
1594,Alvarezhaven,2016-04-18 20:51:29,31.93,4267015736324,21,Urban
1595,Alvarezhaven,2016-08-01 00:39:48,6.42,8394540350728,21,Urban
1596,Alvarezhaven,2016-09-01 22:57:12,18.09,1197329964911,21,Urban
1597,Alvarezhaven,2016-08-18 07:12:06,20.74,357421158941,21,Urban
1598,Alvarezhaven,2016-04-04 23:45:50,14.25,6431434271355,21,Urban
461,Alyssaberg,2016-05-28 09:20:29,35.61,7474701747862,67,Urban
462,Alyssaberg,2016-04-29 20:53:30,19.77,44295036528,67,Urban
463,Alyssaberg,2016-01-17 07:11:21,21.03,3138020890244,67,Urban
464,Alyssaberg,2016-05-09 01:35:14,17.56,2796711976151,67,Urban
465,Alyssaberg,2016-02-07 05:19:26,23.44,2983583783981,67,Urban
2100,Anitamouth,2016-01-03 16:21:46,43.54,2473012019465,16,Suburban
2101,Anitamouth,2016-06-01 22:47:11,27.44,1552303233665,16,Suburban
2102,Anitamouth,2016-01-29 20:03:47,41.74,4547643471379,16,Suburban
2103,Anitamouth,2016-09-21 12:36:00,46.36,2181536008161,16,Suburban
2104,Anitamouth,2016-03-03 13:56:02,40.85,3932716370818,16,Suburban
1310,Antoniomouth,2016-03-05 02:55:42,19.91,644874337642,21,Urban
1311,Antoniomouth,2016-08-27 06:53:18,33.31,6663823307127,21,Urban
1312,Antoniomouth,2016-08-19 14:45:25,20.67,5230053373966,21,Urban
1313,Antoniomouth,2016-05-02 17:52:36,8.43,4177920769860,21,Urban
1314,Antoniomouth,2016-10-22 01:49:54,6.05,1700566631906,21,Urban
1064,Aprilchester,2016-05-11 07:04:30,20.29,1081687614611,49,Urban
1065,Aprilchester,2016-02-20 19:30:53,27.84,3702797861303,49,Urban
1066,Aprilchester,2016-10-04 14:22:56,19.92,6787220390480,49,Urban
1067,Aprilchester,2016-08-06 07:30:30,14.91,3702913189953,49,Urban
1068,Aprilchester,2016-02-20 15:43:00,15.39,5479461790907,49,Urban
617,Arnoldview,2016-03-24 05:50:15,38.73,9909352484494,41,Urban
618,Arnoldview,2016-03-29 20:04:52,32.63,8172040679569,41,Urban
619,Arnoldview,2016-02-14 02:12:58,34.20,5949268564952,41,Urban
620,Arnoldview,2016-07-12 04:33:22,30.88,564769023118,41,Urban
621,Arnoldview,2016-01-12 01:10:56,35.07,9029197394649,41,Urban
...,...,...,...,...,...,...
2169,West Tony,2016-09-18 10:26:14,23.83,2029581191356,17,Suburban
2170,West Tony,2016-08-27 08:35:50,27.11,6369211091172,17,Suburban
2171,West Tony,2016-01-28 21:44:57,39.15,1038754510925,17,Suburban
2172,West Tony,2016-04-30 22:02:46,19.88,606026211071,17,Suburban
2173,West Tony,2016-05-25 06:30:46,16.12,7605115191082,17,Suburban
1635,Williamchester,2016-08-28 17:40:49,30.72,8203822920323,26,Suburban
1636,Williamchester,2016-09-10 19:11:19,41.04,4383983578923,26,Suburban
1637,Williamchester,2016-05-06 02:59:25,31.91,5362699747075,26,Suburban
1638,Williamchester,2016-05-10 16:35:23,36.07,4922838323136,26,Suburban
1639,Williamchester,2016-05-22 04:15:15,25.91,4677896988123,26,Suburban
648,Williamshire,2016-06-22 07:53:44,39.81,5322918326146,70,Urban
649,Williamshire,2016-03-22 06:49:22,5.78,4026457009379,70,Urban
650,Williamshire,2016-01-30 07:31:03,34.93,6848867019018,70,Urban
651,Williamshire,2016-10-01 15:14:16,10.67,9934352171372,70,Urban
652,Williamshire,2016-01-12 04:22:31,35.94,7083499369219,70,Urban
831,Wiseborough,2016-01-21 17:35:29,44.18,3645042422587,55,Urban
832,Wiseborough,2016-09-12 18:43:41,26.83,9304728540000,55,Urban
833,Wiseborough,2016-10-01 09:57:27,37.84,1617736281758,55,Urban
834,Wiseborough,2016-09-12 00:38:50,20.62,8634932507263,55,Urban
835,Wiseborough,2016-10-29 19:14:58,13.85,8841221112569,55,Urban
514,Yolandafurt,2016-07-03 17:13:53,32.91,1045867165508,7,Urban
515,Yolandafurt,2016-06-01 01:49:06,31.05,308132266739,7,Urban
516,Yolandafurt,2016-02-28 11:02:09,36.00,6313980463869,7,Urban
517,Yolandafurt,2016-11-20 11:01:23,24.95,3736563482430,7,Urban
518,Yolandafurt,2016-10-15 09:08:27,32.99,7248809199355,7,Urban
1432,Zimmermanmouth,2016-06-29 21:29:33,17.12,1214603530980,45,Urban
1433,Zimmermanmouth,2016-08-11 11:17:38,5.97,7276044030126,45,Urban
1434,Zimmermanmouth,2016-08-01 20:38:52,34.95,2258161061820,45,Urban
1435,Zimmermanmouth,2016-09-19 02:40:07,16.21,4966546004949,45,Urban
1436,Zimmermanmouth,2016-07-23 19:20:11,28.89,1529363655249,45,Urban